

.card{

}

.description{
    margin-top: 20px;
}

.button{
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 100ms linear;
}

.button:hover{
    background-color: black;
    color: white;
}